[SddmGreeterTheme]
Name=WD Boot Screen
Description=SDDM login theme for wd_boot_screen
Type=sddm-theme
Author=Fulminazzo
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=wd_boot_screen
Theme-API=2.0
Website=https://github.com/fulminazzo/wd_boot_screen

